.search__block {
  width: 65px;
  height: 50px;
  background-color: rgba(222, 187, 187, 0.53);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all .5s ease;
  justify-self: center;


  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: #fe9800;
    transition: all .5s ease;

  }

  &.open {
    width: 420px;

    &:before {
      height: 30px;
      margin: 10px 0 20px 30px;
      position: absolute;
    }
  }
}

.search__input {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: black;
  padding: 20px 120px 20px 45px;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

.search__button {
  width: 70px;
  height: 50px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.search__icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  border-radius: 10px;
  border: 3px solid #fe9800;
  display: block;
  position: relative;
  transition: all .5s ease;

  &:before {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -6px;
    top: 12px;
    display: block;
    background-color: #fe9800;
    transform: rotate(-45deg);
    transition: all .5s ease;

  }

  &:after {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -10px;
    top: 16px;
    display: none;
    background-color: #fe9800;
    transform: rotate(-45deg);
    transition: all .5s ease;

  }

  .open & {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 20px;

    &:before {
      transform: rotate(52deg);
      right: 8px;
      top: 10px;
      height: 13px;
    }

    &:after {
      transform: rotate(-230deg);
      right: 8px;
      top: 3px;
      display: block;
      height: 13px;
    }
  }

}

.search__clear {
  width: 23px;
  height: 23px;
  position: absolute;
  opacity: 0;
  top: 17px;
  right: 81px;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    &:before, &:after {
      background-color: black;
      transition: background-color .3s ease;
    }
  }


  &:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 2px;
    height: 16px;
    background-color: #727171;
    transition: background-color .3s ease;
    transform: rotate(-230deg);

  }

  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 8px;
    width: 2px;
    height: 16px;
    background-color: #727171;
    transition: background-color .3s ease;
    transform: rotate(230deg);

  }

}

.show {
  transition: all .3s ease;
  opacity: 1;
}
