.card__item {
  background-color: rgba(167, 163, 163, 0.23);
  border-radius: 20px;
  padding: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  transition: all .4s ease;

  &:hover {
    transition: all .4s ease;
    transform: translateY(-20px);
    box-shadow: 3px 13px 8px 0 rgba(34, 60, 80, 0.2);
  }

  &_image {
    img {
      width: 50px;
      height: 50px;
    }
  }

  &_description {
    display: flex;
    flex-direction: column;

  }
}

.item__name {
  font-size: 22px;
  font-weight: 600;
}

.item__symbol {
  font-size: 16px;
}

