.card {
  width: 100%;
  height: 100%;
  max-height: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(120px, 230px));
  grid-template-rows: repeat(auto-fill,110px);
  justify-content: space-between;
  align-content: space-between;
  column-gap: 5px;
  row-gap: 30px;
  padding: 30px 15px;
  overflow: hidden;
}

