.table {
    width: 100%;
    min-height: 700px;
    background-color: #e7e777;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;

    &__title {
        font-size: 28px;
        justify-self: center;
        font-weight: 700;
        margin-bottom: 30px;
    }
}
