.pagination {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;

    &_item {
      cursor: pointer;
      padding: 5px;
      background-color: #5378c2;
      border-radius: 5px;
      color: floralwhite;

      &:hover {
        color: red;
      }
    }
  }

}
