.pagination__button {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  transition: background-color 0.3s ease;


  &:active {
    transition: background-color 0.3s ease;
    background-color: #fe9800;
  }

  span {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }
}
